
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .goBackButton {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .poster {
    width: 250px;
    height: 375px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .placeholderPoster {
    width: 250px;
    height: 375px;
    background-color: #ccc;
    margin-bottom: 10px;
  }
  
  .userScore {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .overview {
    margin-bottom: 10px;
  }
  
  .genresTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .genresList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .genre {
    margin-bottom: 5px;
  }
  
  .additionalInfoTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .additionalInfoList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .additionalInfoLink {
    text-decoration: none;
    color: #007bff;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .castContainer {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .reviewsContainer {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .noReviews {
    color: red;
  }
  